/*==================================
	Reset CSS
====================================*/ 


.news-column .small-post .single-post,
.news-big .small-post .single-post {
	min-height: 82px;
}
.news-tabs .tab-others .single-news {
	min-height: 100px;
}
.footer .latest-news .single-news {
	min-height: 45px;
}
/********* Rest Sidebar ********/

aside .col-lg-2,
aside .col-lg-3,
aside .col-lg-4,
aside .col-lg-5,
aside .col-lg-6,
aside .col-lg-7,
aside .col-lg-8,
aside .col-md-2,
aside .col-md-3,
aside .col-md-4,
aside .col-md-5,
aside .col-md-6,
aside .col-md-7,
aside .col-md-8
 {
	max-width: 100%;
	flex: 0 0 100%;
}

aside .news-tabs .nav-main .nav-tabs {
	top: -5px;
	position: initial;
}

aside .news-grid .single-news.main .news-head {
	margin-bottom: 30px;
}

aside .carousel-slider .content p {
display: none;
}

aside .news-carousel .owl-controls .owl-nav div {
	bottom: -22%;
}
aside .all-news-tabs .news-head {
	width: auto;
	float: none;
}
aside .all-news-tabs .content {
	width: auto;
	float: none;
	margin-left: 0;
}
aside.blog-sidebar .single-sidebar h2 {
	margin-top: 15px !important;
}
aside .news-style2 .news-head {
	width: auto;
}

aside .news-style2 .content {
	width: 87%;
	margin: 10px 0 0 20px
}
aside .news-style2 .single-news.main {
	padding-bottom: 20px;
}
aside .news-grid .grid-news-right .single-news {
	margin-top: 20px;
}

/* adjust bottom color bar for sidebar */
aside .news-big .small-post .col-12 .single-post:before,
aside .news-column .single-post:before {
	width: 36%;
}
aside .news-tabs .tab-others .single-news:before {
	width: 25%;
}

aside .news-column .small-post .single-post {
	min-height: 130px;
}

aside .news-column .single-post {
	padding: 25px 0 0 0 ;
}
aside .news-tabs .tab-others .news-head img {
width: 100%;

}
aside .news-tabs .tab-others .news-head {
	width: 100%;
	float: initial;
}
aside .news-tabs .tab-others .content {
	padding-left: 15px;
}
footer.footer .footer-top .widget section .col-lg-2,
footer.footer .footer-top .widget section .col-lg-3,
footer.footer .footer-top .widget .single-footer .col-lg-3,
footer.footer .footer-top .widget section .col-lg-4,
footer.footer .footer-top .widget section .col-lg-5,
footer.footer .footer-top .widget section .col-lg-6,
footer.footer .footer-top .widget section .col-lg-7,
footer.footer .footer-top .widget section .col-lg-8,
footer.footer .footer-top .widget section .col-lg-9,
footer.footer .footer-top .widget section .col-lg-10,
footer.footer .footer-top .widget section .col-md-2,
footer.footer .footer-top .widget section .col-md-3,
footer.footer .footer-top .widget .single-footer .col-md-3,
footer.footer .footer-top .widget section .col-md-4,
footer.footer .footer-top .widget section .col-md-5,
footer.footer .footer-top .widget section .col-md-6,
footer.footer .footer-top .widget section .col-md-7,
footer.footer .footer-top .widget section .col-md-8,
footer.footer .footer-top .widget section .col-md-9,
footer.footer .footer-top .widget section .col-md-10
 {
	max-width: 100%;
	flex: 0 0 100%;
} 

footer.footer .footer-top .widget section .offset-lg-1 {
	margin-left: 0%;
}

footer.footer .footer-top .widget section.news-grid .single-news.main .news-head {
	margin-bottom: 30px;
}

footer.footer .footer-top .widget section.news-column .news-head,
footer.footer .footer-top .widget section.news-column .single-news .content p {
	display: none;
}
footer.footer .footer-top .widget section.news-column .small-post .content {
	padding-left: 0;
}

footer.footer .footer-top .widget section .owl-item p, 
footer.footer .footer-top .widget section .owl-item .post-categories {
 display: none;
}

footer.footer .footer-top .widget section.news-carousel .owl-controls .owl-nav div.owl-prev {
	left: -50px;
}

footer.footer .footer-top .widget section.news-carousel .owl-controls .owl-nav div.owl-next {
	right: -50px;
}
footer.footer .footer-top .widget section.news-carousel .owl-controls .owl-nav div {
	border: none;
}

footer.footer .footer-top .widget section.news-big .small-post .news-head {
	display: none;
}

footer.footer .footer-top .widget section.news-big .small-post .content {
	padding-left: 0;
}
footer.footer .footer-top .widget section.news-big .small-post .col-12 .single-post {
	min-height: 90px
}
footer.footer .footer-top .widget section.all-news-tabs .single-news .news-head,
footer.footer .footer-top .widget section.all-news-tabs .single-news .content p {
	display: none;
}

footer.footer .footer-top .widget section.all-news-tabs .single-news .content {
	width: initial;
	margin-left: 0;
}

footer.footer .footer-top .widget section.single-column .single-news img {
	display: none;
}

footer.footer .footer-top .widget section.single-column .news-content {
	padding-left: initial;
}
footer.footer .footer-top .widget section.single-column .news-content {
	min-height: 90px;
}
footer.footer .footer-top .widget section.news-style2 .single-news .news-head {
	width: initial;
}
footer.footer .footer-top .widget section.news-style2 .single-news .content {
	width: initial;
	margin: 10px;
}
footer.footer .footer-top .widget section.news-tabs .tab-main .tab-pane p,
footer.footer .footer-top .widget section.news-tabs .tab-main .tab-pane .tab-others .news-head img{
	display: none;
}
footer.footer .footer-top .widget section.news-tabs .tab-main .tab-pane .tab-others .content {
	padding-left: initial;
}

footer.footer .footer-top .widget section.news-grid .grid-news-right .single-news {
	margin-top: 20px;
}
/* adjust bottom color bar for footer */
footer.footer .footer-top .widget section.news-big .small-post .col-12 .single-post:before,
footer.footer .footer-top .widget section.news-column .single-post:before {
	width: 36%;
}
footer.footer .footer-top .widget section.news-tabs .tab-others .single-news:before {
	width: 30%;
}

.nav-links .page-numbers {
	color: #4DB2EC;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-links .page-numbers.current {
	color: black;
}
.wp-caption h6,
.wp-caption-text h6,
.gallery-caption h6,
.bypostauthor h6 {
	font-style : normal;
}
.alignright {
float: right;
}
.alignleft {
	float: left;
}
.aligncenter {
	float: none;
}
	
.footer ul li a:hover {
	color: #4DB2EC;
	}
.footer .date a,
.footer ul li a {
	color: #ccc;
}
.tagcloud a {
	font-size: 12px !important;
}
.blog-sidebar .single-sidebar ul li a:before {
	content: "\f0da";
	display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin-right: 5px;
color: #4DB2EC;
}

* {
    margin: 0;
    padding: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #444;
	line-height:25px;
	position:relative;
}
h1,h2,h3,h4,h5,h6{
	font-weight:700;
	margin:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
img{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
p {
	color: #555;
	margin: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
ul {
    list-style: disc;
    margin-bottom: 0;
}
a,button,input,textarea{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight:600;
}
a,
a:hover,
a:active,
button{
    text-decoration: none;
    border: none;
    outline: none;
	border:none;
}
img {
    max-width: 100%;
	display:block;
	height: auto;
}
select:active {
    box-shadow: 0;
    border: 0;
    outline: 0
}

.nav > li > a:hover {
    background-color: transparent;
    text-decoration: none;
}
.navbar {
    margin-bottom: 0;
    border: 0;
}
.section {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}
.off-white {
	background: #f6f6f6;
}
.section.dark{
	background:#2B343E;
}
.margin-bottom-20{
	margin-bottom:20px;
}
.btn{
	color:#9B9B9B;
	padding:13px 38px;
	text-transform:capitalize;
	font-weight:600;
	border:none;
	display: inline-block;
	text-align:center;
	font-size:14px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.btn.primary{
	color:#fff;
	border-color:transparent;
}
.mobile-nav{
	display:none;
}
.shadow{
	position:relative;
}
.shadow::before {
	background-image: linear-gradient(transparent, #111), linear-gradient(#0000, #111);
	height: 70%;
	opacity: 0.8;
	position: absolute;
	right: 0;
	z-index: 1;
	bottom: 0;
	content: "";
	left: 0;
	width: 100%;
	z-index: 3;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.advertise{
	position:relative;
}
.advertise.right{
	float:right;
}
.advertise img{
	border:1px solid #ebebeb;
	margin-bottom: 10px;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.template-preloader-rapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background:#4DB2EC;
  background-size: 600% 600%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  -o-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}
.template-preloader-rapper .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  height: 50px;
  width: 50px;
}
.template-preloader-rapper .spinner .double-bounce1 {
  background: #fff;
}
.template-preloader-rapper .spinner .double-bounce2 {
  background: #eee;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}
.double-bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

img{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
input,
input:active {
    outline: none;
    font-weight: 400;
}
select{
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill,
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/*Remove bootstrap tab css*/
.nav-tabs > li > a {
    border: 0
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    border: 0;
    outline: 0
}
.nav-tabs {
    border: 0
}
.nav-tabs > li > a:hover {
    border: 0
}
/*navbar css icon*/
.navbar-toggle .icon-bar {
    position: relative;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    width: 28px;
}
.slick-slide {
    outline: none !important;
}
.overlay{
	position:relative;
}
.overlay:before{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	content:"";
	opacity:0.8;
	background:#2A2D2F;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.title-medium {
	font-size: 18px;
	line-height: 24px;
	margin-top: 10px;
	font-weight: 600;
}
.title-large {
	font-size: 28px;
}
.title-small {
	font-size: 14px;
	line-height: 22px;
}
.title-small a{
	color:#2B343E;
}
.title-small a:hover{
	color:4DB2EC;
}
/* Meta */
.meta {
	color: #555;
	font-size: 13px;
	margin-bottom:10px;
}
.meta span{
	display:inline-block;
	font-weight: 500;
}
.meta span i{
	margin-right:5px;
	color:#4DB2EC;
}
.meta span a{
	color:#555;
	font-weight:500;
}

.slider-content .meta span a {
	color:#fff;
}
.slider-content .meta span a {
	color:#fff;
}
.meta .altcolor a{
	color: #fff;
	font-weight:500;
}
.meta span a:hover{
	color:#4DB2EC;
}
.meta .author{
	color: #555;
	font-weight:inherit;
}
.meta .author img {
	width: auto;
	height: 30px;
	border-radius: 100%;
	display: inline-block;
	margin-right: 10px;
}

.author .media img {
	width: auto;
	height: 60px;
	border-radius: 100%;
	display: inline-block;
	margin-right: 10px;
	border: 2px solid #4DB2EC;
}

.meta .date {
	display: inline-block;
}
.meta .date i {
	margin-right: 5px;
	color: #4DB2EC;
}
/* BreadCrumbs */
.breadcrumbs {
	text-align: left;
	padding: 50px 0;
	position: relative;
	background-repeat: no-repeat;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}
.breadcrumbs::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
}
.breadcrumbs h1 {
	color: #fff;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 15px;
	position: relative;
}
.breadcrumbs ul li{
	display:inline-block;
}
.breadcrumbs ul li a {
	color: #fff;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 500;
}
.breadcrumbs li + li::before {
	color: #b9b9b9;
	content: "/";
	padding:0 5px;
	font-size:18px;
}
.breadcrumbs ul li.active a {
	color: #4DB2EC;
	border-radius: 5px;
}
.breadcrumbs ul li.active a:hover{
	color:#fff;
}
.breadcrumbs ul li a:hover{
	color:#4DB2EC;
}

/* Newsletter */
.newsletter {
	margin-top: 20px;
	background: #4DB2EC;
	padding: 30px 20px;
	text-align:center;
}
.newsletter .news-title i{
	font-size:50px;
	color:#fff;
}
.newsletter .news-title p {
	color: #fff;
	margin: 10px 0;
}
.newsletter .news-form {
	position: relative;
	margin-top: 20px;
}
.newsletter .news-form input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border: none;
	border-radius: 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	color: #252525;
}
.newsletter .news-form button {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 333;
	background: #2B343E;
	color: #fff;
	padding: 0 20px;
	height: 50px;
	line-height: 50px;
	border-radius: 30px;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 13px;
}
.newsletter .news-form button:hover{
	background:#fff;
	color:#2B343E;
}
.newsletter .news-form button i{
	margin-right:10px;
}
.cat-title {
	border-bottom: 2px solid #4DB2EC;
	margin-bottom: 20px;
	font-size: 18px;
	color:#fff;
}
.cat-title span{
	background:#4DB2EC;
	padding:10px 20px;
	display:inline-block;
}
.cat-title:before{
	position:absolute;
	content:"";
	bottom:0;
}
.cat-title.black {
	border-bottom-color: #2B343E;
}
.cat-title.black span{
	background:#2B343E;
}

.cat-title span, .all-news-tabs .nav-main .nav-tabs li a {
    font-size: 18px;
    font-style: normal;
    line-height: 1.2;
    font-weight: bold !important;
    text-transform: capitalize;
    }
/* Scroll Up CSS */
#scrollUp {
	right: 15px;
	bottom: 12px;
	color: #fff;
	font-size: 25px;
	opacity:1;
	background: #4DB2EC;
	font-size: 18px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	text-align: center;
	border-radius: 100%;
	border-radius: 0px;
}
#scrollUp:hover {
	opacity:1;
	background:#2B343E;
}
/* Loader CSS */
#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	z-index: 4444;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
	width: 90px;
    height: 90px;
	margin: -45px 0 0 -45px;
    border: 3px solid transparent;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #444;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} 

/* Pavilan Colors */  
.colors-option {
	position: fixed;
	display: block;
	z-index: 9999;
	text-align: center;
	padding: 20px 10px;
	width: 200px;
	background: #fff;
	box-shadow: -3px 0px 50px -2px #0000001a;
	margin-top: -150px;
	border-bottom: 6px solid #ddd;
	right: -200px;
	text-align: left;
	top: 50%;
	margin: -80px 0 0;
}
.colors-option .icon {
	width: 22px;
    height: 22px;
    background: #968A8C;
    border-radius: 0px;
    top: 50%;
    line-height: 22px;
    cursor: pinter;
    font-size: 15px;
    position: absolute;
    border-left: 3px solid #e7e7e7;
    left: -50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-right: 0px;
    font-size: 25px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    background: #fff;
    color: #FF6853;
    top: 0;
}
.colors-option .icon i {
	cursor: pointer;
}
.colors-option h4 {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
}
.colors-option ul li{
	font-weight:500;
	font-size:14px;
}
.colors-option ul li a{
	color:#555;
}
.colors-option span {
	width: 40px;
	height: 35px;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
}
.colors-option span.color1{background-color:#FF6853}
.colors-option span.color2{background-color:#36BFC4}
.colors-option span.color3{background-color:#16A085;}
.colors-option span.color4{background-color:#FF9800;}
.colors-option span.color5{background-color:#ED1C24;}
.colors-option span.color6{background-color:#82B440;}
.colors-option span.color7{background-color:#D2527F;}
.colors-option span.color8{background-color:#4CAF50;}

.sidebar-image img{
	    margin-bottom: 10px;
}
/*====================================
	Header Style
======================================*/